#bc_header{

	min-height: 80px;

	.navbar{

		.logo{
			display: block;
		    width: 300px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center center;
		}
	}
}