@fontRegular: 'fontawesome-webfont';
@fontBold: '@{fontRegular}';
@yPadding: 20px;
@xPadding: 15px;
@blackOverlay:  rgba(0, 0, 0, 0.7);
@defaultText: #777;
@defaultHover: #3baa9e;
@menuItemPaddingY: 30px;
@menuItemPaddingX: 10px;
@darkBackground: #333;	
